<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: site.title }}</title>
    <meta name="description" content="{{ site.description }}">
    {% minifiedcss %}
  </head>
  <body>
    {% include 'partials/header.liquid' %}
    <main>{{ content }}</main>
    {% include 'partials/footer.liquid' %}
  </body>
</html>