---
layout: base.liquid
---

<h1>About</h1>
<article>
    <p>Recently (2023-24) I've found myself getting more an more into film photography, especially using a second-hand Olympus Pen EE3 which I picked up years ago from a thirft store here in Taiwan.</p>
    <p>This website serves as a home for the film photographs I've captured, and hope to continue capturing. Most shots are from different holidays or trips that I've taken, while a small number will also be from around my home in Taiwan. Where I can, I've tried to add some context and a story to the images.</p>
    <p>This website is also a place for me to play with one of my favourite tools on the web - <a href="https://11.dev/">Eleventy</a>. You can view the <a href="https://github.com/fershad/film">source code</a> for this project here, and I've also started taking bits of it for use in an <a href="https://github.com/fershad/11ty-starter-gallery">Eleventy starter template</a>.</p>
</article>
