---json
{
    "permalink": "all.json",
    "eleventyExcludeFromCollections": true
}
---
{
  "images": [
    {%- for image in collections.images | reverse -%}
    {%- set absolutePostUrl %}{{ image.url | htmlBaseUrl("https://film.fershad.com") }}{% endset %}
    {
      "title": "{{ image.data.imageTitle }}",
      "url": "{{ absolutePostUrl }}",
      "date": "{{ image.date | dateToRfc3339 }}",
      "path": "{{ image.data.path }}",
      "imageUrl" : "{{ image.data.url }}",
      "altText": "{{ image.data.alt }}",
      "description": "{{ image.data.description }}",
      "collection": "{{ image.data.collection }}",
      "shortDate": "{{ image.data.shortDate }}",
      "portrait": "{{ image.data.portrait }}"
    }{%- if not loop.last -%},{%- endif -%}
    {%- endfor -%}
  ]
}
