<footer>
    <p>{{ images | size }} photos by <a href="https://fershad.com">Fershad Irani</a> 📷</p>
    <p>Built with: <a href="https://11.dev">Eleventy</a>, Font <a href="https://departuremono.com/">Departure Mono</a></p>
    <p>Code: <a href="https://github.com/fershad/film">Open source</a>, <a href="https://github.com/fershad/11ty-starter-gallery">11ty Starter</a></p>
    </footer>