<footer>
    <nav>
        <ul>
            <li><a href="/random">Random</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/feed.xml">RSS</a></li>
        </ul>
    </nav>
    <p>{{ images | size }} photos by <a href="https://fershad.com">Fershad Irani</a> 📷</p>
    <p>Built with: <a href="https://11.dev">Eleventy</a> | <a href="https://github.com/fershad/film">Code</a></p>
    </footer>
